.vstupleniye {
	color: red;
}

.paragraph {
	background: blue;
	margin-bottom: 100px;
	width: 100px;
	color: white;
}

p.new span {
	color: red;
}

.zagolovok {
	background: green;
	color: white;
	padding: 5px 5px;
}

#block {
	padding: 40px 0px 40px 40px;
}

ul {
	margin-top: 25px;
	margin-bottom: 25px;
}

ul li {
	font-size: 30px;
	border: 1px solid black;
}